@page "{id:int}"
@model WEB_053502_Selhanovich.Areas.Admin.Pages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Dish</h4>
    <hr />
    <img src="~/images/@(Model.Dish.ImageName + '.' + Model.Dish.MimeType)" width="350" height="250" />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dish.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dish.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dish.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dish.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DishCategory.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DishCategory.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dish.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dish.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dish.ImageName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dish.ImageName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dish.MimeType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dish.MimeType)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Dish?.Id">
        <img src="~/images/edit.png" width="30" height="30" />
    </a>
    <a asp-page="./Index">
        <img src="~/images/left-arrow.png" width="30" height="30" />
    </a>
</div>
